* {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;

  background-color: #f5fdda;
}

.container {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 10px;
  width: 300px;
}

.gift {
  margin: 10px;
}

.btn {
  display: flex;
  margin: 0 auto;
  width: 400px;
  justify-content: space-between;
}
h1{
  margin-top: 30px;
  font-size: 32px;
  font-weight: 200px;
}
h2{
  margin-top: 20px;
  font-size: 23px;
}
p{
  font-size: 17px;
}
button {
  background-color: #f322e8;
  color: #fff;
  padding: 15px;
  border-radius: 7px;
  border:none;
  text-transform: uppercase;

}

@media all and (max-width: 500px){
  img {
    width: 300px;
  }

  h1{
  font-size: 15px;
}

  h2{
    font-size: 12px;
    font-family: "Ibarra Real Nova", serif;
  }
  p{
   font-size: 10px;
  }
  .btn {
    width: 300px;
  }
}